
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Evaluation.EvaluationFinalResult.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new hr.Evaluation.EvaluationFinalResultGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>