
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Archive.EvaluationFinalResultDetailArchive.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new hr.Archive.EvaluationFinalResultDetailArchiveGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>